*{
    margin: 0 0 0 0;
    padding: 0 !important;
}



/*--------------------------- CSS FOR NAVBAR-------------- */
/* 
.navbar-nav{
justify-content: flex-end;
} */


/* -------------------- CSS FOR HERO COMPONENT  ----------------*/

input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color:transparent;
    margin-bottom: 70px;
    color: white;
}



/*  -----------------------  CSS FOR INFO COMPONENTS   -----------------*/


.info{
   
    margin-left: 80px;
    justify-content: center;
    justify-items: center;
    margin-top: 140px;
}

@media only screen and (max-width:769px){

    .bn-info{

        margin: 30px 5px 10px 25px !important;
        
    }
}


.bn-info{
    font-family: Lato; 
    justify-content: center;
    text-align: center;
    align-content: center;
    /* margin-right: 10px !important; */
    padding-right: 15px !important;
}




.banner-info{
    width: auto;
    max-height: 44px;
    margin-top: 80px !important;
    margin: 30px 20px 10px 10px;
    font-family: Lato;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: 3.6px;
    text-align: left;
    color: #1a1a1a;
}



@media only screen and (max-width: 1024px){


    #pics{
        display: none;
    }

    .info-box{
        margin-top: 10px !important;
        width: 100%;
    }

    .bn-info{
        max-height: 10px;
        font-size: 20px;
        margin: 25px 0 5px 25px !important;
        width: 100% !important;
    }


    .info{
        width: 100%;
        margin-top: 10px !important;
    }     
}

.col-info{
    margin-top: 90px;
}

/* leave it like this */
.tickLogo{
    margin-right: 10px;
    margin-left: 50px;
}
/* leave it like this */


.info-box{
    margin-top: 150px;
}
 
