*{
    margin: 0 0 0 0;
    padding: 0 !important;
}



/*--------------------------- CSS FOR NAVBAR-------------- */
/* 
.navbar-nav{
justify-content: flex-end;
} */


/* -------------------- CSS FOR HERO COMPONENT  ----------------*/


.heading-2{
    width: 60%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    font-family: Lato;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.line{
    width: 396px;
    height: 0;
    margin: 19.5px 761.5px 0 310.5px;
    border: solid 1px #ffffff;
  
}

.form{
    display: flex;
    flex-direction: column;
}

.telephone{
  
  width: 221px;
  height: 29px;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  padding-bottom: 10px;
  color: #ffffff;
}

.btn{
    background-color: #f4263d;
}

input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color:transparent;
    margin-bottom: 70px;
    color: white;
}

.no-outline:focus {
    outline: none;
  }

.rest-2{

    z-index: 12;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}


.rest-1{
    z-index: 22;
    width: 60%;
    height: 75vh;
    margin-left: auto;
    margin-right: auto;
    font-family: Lato;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.restaurent-img{

    background-image: url(../pages/images/Group.png);
    height: 100vh;
    width: 100% !important;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
}

 @media only screen and (max-width: 850px){
    .restaurent-img{
        height: 100vh;
        width: auto !important;
    }

    .rest-1{
        height: 70vh;
        font-size:10px !important;
    }

    .image{
        justify-content: center;
        align-content: center;
    }

    .heading-2{
        width: 60%;
        margin-top: 15px;
        font-size: 12px;
        display: flex;
        line-height: 1;
        color: #ffffff;
    }

    .telephone{
            width: 180px;
            height: 20px;
            margin-bottom: 5px;
            font-size: 12px;
            line-height: 1;
            letter-spacing: normal;
            text-align: center;
            padding-bottom: 5px; 
    }

    .btn{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
    
} 

/*  ----------------------------------------------- */

/*  -----------------------  CSS FOR INFO COMPONENTS   -----------------*/

.banner{
    width: auto;
    background-color: transparent; 
}

.info{
    /* margin: 20px 0px 20px 40px !important; */
    margin-left: 80px;
    justify-content: center;
    justify-items: center;
    margin-top: 140px;
}

@media only screen and (max-width:480px){

    #pics{
        display: none;
    }

    .bn-info{
        text-align: center;
        width: auto;
        max-height: 40px;
        margin: 30px 5px 10px 25px !important;
        font-family: Lato;
    }
}

@media only screen and (max-width:769px){

    #pics{
        display: none;
    }

    .bn-info{
        text-align: center;
        width: auto;
        max-height: 40px;
        margin: 30px 5px 10px 25px !important;
        font-family: Lato;
    }
}

 @media only screen and (max-width:1024px){

    #pics{
        display: none;
    }

    .bn-info{
        text-align: center;
        width: auto;
        max-height: 40px;
        margin: 30px 19px 10px 20px;
        font-family: Lato;
        /* font-size: 26px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.22;
        letter-spacing: 3.6px;
        /* text-align: left; */
        /* color: #1a1a1a; */ 
    }
} 

.bn-info{
    justify-content: center;
    text-align: center;
    align-content: center;
    /* margin-right: 10px !important; */
    padding-right: 15px !important;
}

.banner-info{
    width: auto;
    max-height: 44px;
    margin: 30px 20px 10px 10px;
    font-family: Lato;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: 3.6px;
    text-align: left;
    color: #1a1a1a;
}

.box-info{
    display: flex !important;
}

.boxx{
    display: flex;
}

@media only screen and (max-width: 1024px){

    .info-box{
        margin-top: 10px !important;
    }

    .banner{
        height: 40vh !important;
    }

    .bn-info{
        max-height: 10px;
        font-size: 20px;
        margin: 25px 0 5px 25px !important;
        width: 100% !important;
    }

    .boxx{
        margin-top: 60px ;
        display: flex;
        flex-direction: column;
    }

    .info-box{
        width: 100%;
    }

    .image{
        height: 40vh;
    }

    .tickLogo{
        margin-right: 10px;
        margin-left: 50px;
    }

    .harvey{
        width: 80px !important ;
        height: 60px;
        margin-left: 25px !important;
        margin-bottom: 10px !important;
        margin-right: 5px !important;
        border-radius: 29px;
    }
    
    .greencar{
      width: 80px !important;
      margin: 50px 25px 59px 0px !important; 
      object-fit: contain;
    }
    
    .happy{
        width: 100px !important;
        /* height: 90px !important; */
        margin-left: 20px !important;
        border-radius: 29px;
    }

    .tickLogo{
        width: 37px;
        height: 37px;
        margin-right: 15px;
        padding-right: 15px;
        padding-top: 10px ;
    }

    .smallest {
        display: flex;
    }

    .info{
        width: 100%;
        margin-top: 10px !important;
    }

    .info-heading{
        margin-right: 10px; 
    }

    .info-main{
        display: flex;
        margin-top: 20px;
        margin-right: 5px !important;
    }

    .info-head-sm{

    width: 100%; 
    margin-left: 10px;
    padding-top: 15px !important;
    margin-top: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-align: left;
    color: #3e3e3e;

    }
        
}

.col-info{
    margin-top: 90px;
}
.harvey{
    width: 186px;
    height: 256px;
    margin: 70px 15px 5px 180px;
    object-fit: contain;
    border-radius: 29px;
}

.tickLogo{
    margin-right: 10px;
    margin-left: 50px;
}


.greencar{
  width: 175px;
  height: 304px;
  margin: 200px 0px 59px 15px;
  object-fit: contain;
}


.happy{
    width: 255px;
    height: 370px;
    
    margin: 4px 34px 90px 90px;
    object-fit: contain;
    border-radius: 29px;
}

.info-box{
    margin-top: 150px;
}

.info-head-big{
    height: 23px;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.20;
    letter-spacing: normal;
    text-align: left;
    color: #3e3e3e;
    margin-left: 10px;
      
}

.tickLogo{
    max-width: 57px;
    max-height: 57px;
    margin-right: 15px;
    padding-right: 15px;
    padding-top: 10px ;
}

.info-heading{
    margin-right: 60px;
}

.info-main{
    display: flex;
    margin-top: 40px;
}

.info-head-sm{

  width: auto; 
  margin-left: 10px;
  margin-top: 15px;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 1.5px;
  text-align: left;
  color: #3e3e3e;

}


.banner-info{
    font-family: Lato;
    z-index: 25;
    margin-top: 80px !important;
    
}


/* MID BAR CSS START HERE */

.mid-bar{
 
    width: 100%;
    max-height: 50vh;
    margin: 100px auto 0px auto;
    /* padding: 73px 476px 100px; */
    padding-bottom: 20px!important;
    background-color: #FFF4F5;
    justify-content: center;
    text-align: center;
}

.mid-text{
  width: 100%;
  height: 159px;
  margin: 24px 0 5px;
  font-family: Lato;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
  letter-spacing: normal;
  text-align: center;
  color: #959595;
}

@media only screen and (max-width: 1000px){
    
    
    .mid-text{
        width: 90%;
        font-size: 14px;
        height: 120px !important;
        margin: 5px auto 5px auto;
        justify-content: center;
        align-content: center;
    }

    .com-img{
        margin-top: 10px;
       width: 30px !important;
       height: 30px !important;
    }

    .mandi{
        width: 80px;
        height: 20px;
        font-family: Inter;
        font-size: 15px !important;
        line-height: 1.21;
   
    }
  
    .mandii{
        width: 60%;
        color: #f4263d;
        height: 10px;
        margin-left: auto !important;
        margin-right: auto !important;
        font-family: Inter;
        font-size: 12px !important;
        line-height: 1.22;
    }
} 


.comm-a{
    justify-content: center;
}

.nav-text{
    color: white;
}

.mandi{
   
    width: 140px;
    height: 15px;
    margin-left: auto;
    margin-right: auto;
    font-family: Inter;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: #f4263d;
}


.mandii{
    color: #f4263d;
    height: 12px;
    margin-left: auto !important;
    margin-right: auto !important;
    font-family: Inter;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    padding-bottom: 10px;
    width: 60%;
}

/* CARD SECTION START HERE */


@media only screen and (max-width: 480px){
    .resources{
        margin-left: auto !important;
        margin-right: auto !important;
        font-size: 20px !important;
    }

    .card{
        margin: 20px 20px !important ;
        padding-top: 10px;
    }
    
}

@media only screen and (max-width: 800px){
    .resources{
        margin-left: auto !important;
        margin-right: auto !important;
        font-size: 20px !important;
    }

    .card{
        margin: 20px 20px !important ;
        padding-top: 10px;
    }
    
}

@media only screen and (max-width: 800px){
    .resources{
        margin-left: auto !important;
        margin-right: auto !important;
        font-size: 20px !important;
    }

    .card{
        margin: 20px 20px !important ;
        padding-top: 10px;
    }
    
}


.resources{
    max-width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 60px;
    text-align: center;
    height: 40px;
    font-family: Lato;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: 3.6px;
    color: #1a1a1a;
    background-color: #fff;
}
 



#facilities {
    padding: 50px 0px;
}

#facilities h1{
    font-weight: 900;
    font-size:34px;
    padding-bottom: 5px;
    justify-content: center;
    align-content: center;
}

.title{
    text-align: center;
    padding: 25px 0px;
    margin-left: auto!important;
}

/* to keep in width full otherwise horizontal scroll */
.finalrow{
    width: 100%;
    justify-content: center !important;
    align-content: center !important;
}

.title p{
    font-size: 18px;
}

.card-body{
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.1);
}

.card-text-center{
    margin-top: 20px;
}

.cd{
    margin:20px 5px 20px 15px;
    width: 320px;
    margin-left: auto !important;
    margin-right: auto !important;
}

/* .cardmargin{
    
} */

@media only screen and (max-width: 800px){
    .cd{
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
    .title{
        text-align: center;
        padding: 25px 0px;
        margin-left: auto!important;
    }
}


/* ---------NAVBAR---------- */
/* 
.navv{
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    list-style: none;
    background-color :transparent;
    display: -webkit-flex;
    display: -mox-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    margin: 0% auto;
}

.navv a{
    text-decoration: none;
    display: block;
    padding: 3rem;
    color: grey;
    font-weight: 900;
    text-transform: uppercase;
    justify-content: space-between;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;

}

.navv li:first-child{
    margin-right:auto;
}

.navv a:hover{
   color: grey;
} */

/* @media (max-width:800px){
    .navv{
        justify-content: space-around;
    }

    .navv li:first-child{
        margin-right: 0;
    }
}

@media (max-width:600px){
    .navv{
        -webkit-box-flex-group: inherit;
        flex-flow: column wrap;
        width: 100%;
    }
    .navv a{
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255,255,255,0.3);
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    .navv li:last-of-type a{
        border-bottom:none ;
    }
} */


